/*==================================
  Greetings
==================================*/
#Greetings main {
  margin: 64px 0 0;
  .greetings-sect{
    padding: 90px 0 100px;
    .container{
      .desc{
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -.01em;
      }
      .corporation{
        h3{
          font-weight: 500;
          font-size: 17px;
          text-align: center;
          margin: 50px 0 31px;
        }
        .row{
          .col{
            width: calc(100% / 3);
            text-align: center;
            &:nth-child(1){
              img{
                width: 196.15px;
                margin: 0 auto;
              }
            }
            &:nth-child(2){
              img{
                width: 214.71px;
                margin: 0 auto;
              }
            }
            &:nth-child(3){
              img{
                width: 204.77px;
                margin: 0 auto;
              }
            }
            p{
              font-weight: 500;
              font-size: 14px;
              margin: 0 0 14px;
            }
          }
        }
      }
    }
  }
}
