/*==================================
  Story
==================================*/
#Story main {
  margin: 64px 0 0;
  .story-sect{
    .desc-wrap{
      padding: 119px 0 122px;
      p{
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
      }
    }
    .wrapper{
      &--item{
        display: block;
        position: relative;
        width: 100%;
        height: 515px;
        background-color: #E96B00;
        &:not(:last-child){
          margin: 0 0 10px;
        }
        &::before{
          content: "";
          display: block;
          width: 62%;
          height: inherit;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
        }
        &:hover{
          .content{
            .arrow-icon{
              transform: translate(20px, 0) !important;
            }
          }
        }
        &--bg1{
          &::before{
            background-image: url(/images/story/img-1.jpg);
          }
        }
        &--bg2{
          &::before{
            left: unset;
            right: 0;
            background-image: url(/images/story/img-2.jpg);
          }
          .container{
            justify-content: flex-start !important;
            .content{
              text-align: left !important;
              .position{
                padding: 27px 0 0 0 !important;
              }
              .newpos{
                margin: 0 !important;
              }
              .arrow-icon{
                margin: 0 0 0 210px;
              }
            }
          }
        }
        &--bg3{
          &::before{
            background-image: url(/images/story/img-3.jpg);
          }
          .container{
            .content{
              .position{
                padding: 27px 0 0 0 !important;
              }
              .newpos{
                padding: 0 70px 0 0;  
              }
            }
          }
        }
        .container{
          position: relative;
          z-index: 2;
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .content{
            text-align: right;
            .year{
              @include Montserrat(800);
              font-size: 80px;
              font-style: italic;
              color: #000;
              line-height: 1;
            }
            .name{
              @include Montserrat(800);
              font-size: 100px;
              font-style: italic;
              color: #fff;
              line-height: 1.1;
            }
            .position{
              font-size: 18px;
              font-weight: 500;
              color: #fff;
              padding: 50px 40px 0 0;
            }
            .newpos{
              color: #fff;
              font-size: 18px;
              font-weight: 500;
              margin: 0 0 23px;
              span{
                font-weight: 900;
                font-size: 24px;
              }
            }
            .arrow-icon{
              display: inline-block;
              transform: translate(0, 0);
              transition: .3s ease;
            }
          }
        }
      }
    }
    .story-lower{
      overflow: hidden;
      padding: 154px 0 150px;
      .container{
        position: relative;
      }
      &--item{
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        &:not(:last-child){
          margin: 0 auto 175px;
        }
        h2{
          position: relative;
          z-index: 2;
          font-size: 48px;
          font-weight: 700;
          line-height: 72px;
          text-align: center;
          margin: 0 0 96px;
        }
        .year{
          @include Montserrat(800);
          font-size: 160px;
          font-style: italic;
          color: #EEEEEE;
          position: absolute;
          z-index: 0;
          top: -108px;
          right: -160px;
          letter-spacing: -.01em;
        }
        .list{
          &--item{
            &:not(:last-child){
              margin: 0 0 97px;
            }
            .ttl{
              font-size: 30px;  
              font-weight: 500;
              line-height: 48px;
              color: #E96B00;
              text-align: center;
              margin: 0 0 42px;
              letter-spacing: -.01em;
            }
            .desc{
              font-size: 16px;
              font-weight: 500;
              line-height: 32px;
              text-align: left;
              &.mgt-10{
                margin: -30px 0 0;
              }
            }
            .row{
              margin: 45px 0 0;
              justify-content: space-between;
              .col-2{
                width: 47.5%;
                margin: 0 0 40px;
              }
              p{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                margin: 11px 0 0;
              }
            }
          }
        }
      }
      .profile{
        max-width: 800px;
        margin: 57px auto 0;
        background-color: #E96B00;
        padding: 0 0 0 20px;
        .row{
          align-items: flex-end;
          position: relative;
          .col{
            position: initial;
            &:first-child{
              width: 63%;
            }
            &:last-child{
              width: 37%;
              padding: 25px;
              h4{
                @include Montserrat(800);
                font-size: 66px;
                font-style: italic;
                color: #fff;
                &.henly{
                  position: absolute;
                  top: 105px;
                  right: 40px;
                }
                &.suzuki{
                  position: absolute;
                  top: 55px;
                  right: 25px;
                  text-align: right;
                  &.oda{
                    line-height: 80px;
                    top: 35px;
                  }
                }
              }
              .top{
                font-size: 13px;
                font-weight: 500;
                color: #fff;
              }
              h5{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: #fff;
                font-size: 13px;
                font-weight: 500;
                margin: 13px 0 0;
                span{
                  color: #fff;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
              .bottom{
                color: #fff;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                margin: 23px 0 0;
              }
            }
          }
        }
      }
      .btn-wrap{
        max-width: 680px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a{
          margin: 100px 0 0;
          &:first-child{
            &:hover{
              &::after{
                left: 20px;
              }
            }
            &::after{
              transform: rotate(-45deg) translate(0, -50%) scaleX(-1);
              left: 33px;
              right: unset;
            }
          }
        }
      }
      a{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 67px;
        margin: 100px auto 0;
        background-color: #000;
        border-radius: 50px;
        @include Montserrat(800);
        font-size: 32px;
        color: #fff;
        font-style: italic;
        box-sizing: border-box;
        &:hover{
          background-color: #fff;
          color: #222;
          border: 2px solid #000;
          &::after{
            right: 20px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
          }
        }
        &::after{
          content: "";
          display: block;
          width: 11px;
          height: 11px;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg) translate(0, -50%);
          position: absolute;
          top: 50%;
          right: 33px;
          transition: .3s ease;
        }
        &.reverse{
          &:hover{
            &::after{
              left: 20px;
            }
          }
          &::after{
            transform: rotate(-45deg) translate(0, -50%) scaleX(-1);
            left: 33px;
            right: unset;
          }
        }
      }
    }
  }
}
