/*==================================
  Top
==================================*/
#Top main {
  .sect-1{
    .wrapper{
      width: 100%;
      height: 100vh;
      position: relative;
      &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .4;
        position: absolute;
        inset: 0;
        z-index: 3;
      }
      .main_video{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        video{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .daytona-logo{
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
    }
  }
  .sect-2{
    height: 765px;
    display: flex;
    align-items: center;
    .container{
      .desc{
        font-weight: 700;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
      }
    }
  }
  .sect-3{
    .wrapper{
      position: relative;
      background-color: #000;
      &--reverse{
        &--pl50{
          .row{
            .col{
              &:first-child{
                padding: 0 50px 0 70px !important;
              }
            }
          }
        }
        &--pl50-1{
          .row{
            .col{
              &:first-child{
                padding: 0 50px 0 115px !important;
              }
            }
          }
        }
        .row{
          flex-direction: row-reverse;
          .col{
            &:first-child{
              justify-content: flex-start !important;
            }
          }
        }
      }
      &--pl50{
        .row{
          .col{
            &:first-child{
              padding: 0 70px 0 50px !important;
            }
          }
        }
      }
      .row{
        &:hover{
          .col{
            .content{
              span{
                background-color: #000;
                color: #fff;
                border: 2px solid #fff;
              }
            }
          }
        }
        .col{
          &:first-child{
            width: 47%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 140px 0 50px;
          }
          &:last-child{
            width: 53%;
          }
          .content{
            text-align: center;
            h3{
              @include Montserrat(800);
              font-size: 32px;
              font-style: italic;
              color: #fff;
              margin: 0 0 6px;
            }
            p{
              font-size: 18px;
              font-weight: 500;
              letter-spacing: .05em;
              color: #fff;
              margin: 0 0 16px;
            }
            span{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 164px;
              height: 37px;
              background-color: #fff;
              border-radius: 50px;
              color: #222;
              @include Montserrat(800);
              font-size: 18px;
              font-style: italic;
              margin: 0 auto;
              box-sizing: border-box; 
              transition: .3s ease;
            }
          }
        }
      }
    }
  }
}
