/*==================================
  Message
==================================*/
#Message main {
  margin: 60px 0 0;
  .message-sect{
    .container{
      padding-left: 0;
      padding-right: 0;
      .row{
        .col{
          width: 25%;
          a{
            display: block;
            position: relative;
          }
        }
      }
      .modal{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1002;
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
        background-color: #fff;
        &--active{
          opacity: 1;
          visibility: visible;
        }
        &--dialog{
          width: 100%;
          height: 100%;
          background-color: #fff;
          padding: 0 0 50px;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          .close{
            width: 36px;
            height: 36px;
            position: absolute;
            top: 20px;
            right: 20px;
            transform: rotate(45deg);
            &::after{
              content: "";
              display: flex;
              width: 100%;
              height: 2px;
              background-color: #999999;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
            }
            &::before{
              content: "";
              display: flex;
              width: 2px;
              height: 100%;
              background-color: #999999;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: 0 auto;
            }
          }
        }
        &--content{
          position: relative;
          width: 100%;
          height: 100%;
          &--left{
            width: 100%;
          }
          &--right{
            width: 100%;
            margin: 0 0 0 auto;
            padding: 23px 20px 100px 20px;
            .ttl{
              position: relative;
              border-bottom: 5px solid #E96B00;
              padding: 0 0 15px;
              p{
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                margin: 0 0 5px;
                padding: 0 100px 0 0;
              }
              h3{
                font-weight: 700;
                font-size: 22px;
                padding: 0 100px 0 0;
              }
              span{
                @include Montserrat(800);
                font-size: 48px;
                font-style: italic;
                position: absolute;
                bottom: 4px;
                right: 0;
              }
            }
            p{
              color: #3B4043;
              line-height: 24.5px;
              font-size: 14px;
              margin: 16px 0 0;
            }
            .row-img{
              display: block;
              margin: 15px 0 0;
              img{
                &:not(:last-child){
                  margin: 0 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
